<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Skysite-PROJECT-Regression Test</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="87bd83">  <td>18/03/13 19:21:26</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Projects_DataCreation.beforeTest(java.lang.String)[pri:0, instance:com.arc.projects.testscripts.Projects_DataCreation@a7e666]">&gt;&gt;beforeTest</td> 
<td>&nbsp;</td>  <td>main@798244209</td>   <td></td> </tr>
<tr bgcolor="87bd83">  <td>18/03/13 19:21:37</td>   <td>11161</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Projects_DataCreation.verify_CreateProject()[pri:0, instance:com.arc.projects.testscripts.Projects_DataCreation@a7e666]">verify_CreateProject</td> 
  <td>main@798244209</td>   <td></td> </tr>
</table>
